/* estilos.css */

:root{
	--negroVerdadero: #000;
	--blanco: #FFF;
	--azulFuentes: #045ba3;
	--azulBotonera:#045ba3;
	--azulOscuro: #003460;
}

*{
	/*Elimino caracteristicas que vienen por defecto*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Russo One', sans-serif;
	
}

h1{
	font-size: 48px;
	font-size: 3rem;
	color: var(--azulFuentes);
}
h2{
	font-size: 44px;
	font-size: 2.75rem;
}
h3{
	font-size: 30px;
	font-size: 1.875rem;
}
h4{
	font-size:18px;
	font-size: 1.125rem;
	
}
a{
	text-decoration: none;
}


/*----------------------------

SECCION CABECERA

------------------------------*/
.cabecera{
		
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1122px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.5vw;
	width:100%;
}

/* IMAGEN RESPONSIVE*/

.cabecera-imagen{
	max-width: 230px;
	width:20%;
}

.cabecera-imagen img{
	width: 100%;
	height: auto;
}

.cabecera-texto{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
}

.cabecera-texto h1{
	margin-left: 4.45vw;
	
}
.cabecera-texto h2{
	margin-left: 2.22vw;
	
}

.cabecera h3{
	width: 100%;
	text-align: center;
	margin-top: 1vw;
}

.contenedor{
	margin: auto;
}

/*----------------------------

SECCION BOTONERA

------------------------------*/

.botonera{
	
	max-width: 1366px;  /*DECLARO ESTE ANCHO MAXIMO AQUI PARA EL FONDO OCUPE TODO EL ANCHO*/
	background-color: var(--azulBotonera);
	margin: 0 auto;
	box-sizing: border-box;
	/* DOS LINEAS AGREGADAS PARA QUE LA BOTONERA BAJE CON EL SCROLL, ME SIGA */
	position: sticky;
	top:0;
	z-index:3;
	
}

.botonera-lista{
	
	/* COMO EL FONDO PUEDE MEDIR HASTA 1366PX DE ANCHO LIMITO EL ANCHO DE MI MENU 
		Y LO CENTRO, PERO NO ASI SU FONDO DECLARADO EN .BOTONERA */
	max-width: 1122px;  
	margin-left: auto;
	margin-right: auto;
	
	list-style: none;
	display: flex;
	justify-content: space-around;
	
}

.botonera-lista a{
	
	color: var(--blanco);
	font-size: 20px;
	font-size: 1.25rem;
	padding: 10px 5px;
	display: block;
	
	text-align:center;
	
}

.botonera-lista a:hover{
	color: var(--negroVerdadero);
}

/*----------------------------

SECCION SLIDER

------------------------------*/

.slider{
	position: relative;
	margin-bottom: 4vw;
	max-width:1122px;
	margin-left: auto;
	margin-right: auto;
	
}


.slider img{
	max-width:1122px;
	width: 100%;
}
.slider-texto{
	
	text-align: right;
	
	/* Ancho maximo del texto */
	max-width: 40%;
	
	/* posicion del texto dentro del contenedor */
	position: absolute;
	top: 3.5vw;
	right:3vw;
	
	color: var(--blanco);
	
	font-size: 22px;
	font-size: 1.375rem;
}



/*----------------------------

SECCION CENTRO

------------------------------*/


.centro{
	max-width: 1122px;  
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5vw;
}

.centro h3{
	color: var(--azulFuentes);
	text-align:center;

}

.centro-botones img{
	max-width: 15vw;
	height: auto;
}


.centro-botones{
	margin-top: 4vw;
	display: flex;
	justify-content: space-around; 
	
}

.centro-botones-uno,.centro-botones-dos,.centro-botones-tres{
	text-align:center;
	/* border: 1px solid var(--azulBotonera); */
	box-shadow: 0 0 0 1px var(--azulOscuro);
	max-width: 240px;
	color: var(--azulFuentes);
	width: 30%;
}
.centro-botones-uno:hover,.centro-botones-dos:hover,.centro-botones-tres:hover{
	
	
	box-shadow: 0 0 0 5px var(--azulOscuro);
	
	color: var(--azulOscuro);
	
}


/*----------------------------

SECCION PIE

------------------------------*/

.piefondo{
	max-width:1366px;
	background-color: var(--azulBotonera);
}
.pie{
	
	max-width: 1122px;  
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
	
	padding: 20px 10px;
	
}

.pie-mapa{
	
	max-width: 40%;
	border: 2px solid var(--blanco);
	height: 100%;
	text-align: center;
	color: var(--blanco);
	
}
.pie-mapa h4{
	padding-bottom: 10px;
	
}
.pie-mapa img{
	padding-bottom: 10px;	
}



.pie-derecha{
	
	
	color: var(--blanco);
	font-size: 22px;
	font-size:  1.375rem;
	text-align: right;
	max-width: 50%;
	
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.pie-derecha-texto{
	padding-bottom: 25px;
	
}

.pie-derecha-telefono{
	display:flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 24px;
	font-size: 1.5rem;
}
.pie-derecha-telefono img{
	height: 3vw;
	width: 3vw;
	margin-right: 10px;
}

.email{
	font-size: 24px;
	font-size: 1.5rem;
}
.creditos{
	font-family: cursive;
	font-size: 24px;
	font-size: 1.5rem;
}

/*----------------------------

MEDIA QUERIES

------------------------------*/


@media (max-width:1024px){
	html{
		font-size: 14px;
	}
	
}

@media (max-width:880px){
	html{
		font-size: 12px;
	}
	
}

@media (max-width:768px){
	html{
		font-size: 10px;
	}
	
	.pie{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.pie-mapa{
		max-width:80%;
		margin-bottom: 20px;
	}
	.pie-derecha{
		text-align: center;
		max-width: 80%;
	}
	.pie-derecha-telefono{
		justify-content: center;
	}
	
}

@media (max-width:625px){
	html{
		font-size: 8px;
	}
	
}

@media (max-width:511px){
	html{
		font-size: 7px;
	}
	
		
}
@media (max-width:458px){
	html{
		font-size: 6px;
	}
	
}

