/* estilos.css */

:root{
	--negroVerdadero: #000;
	--blanco: #FFF;
	--azulFuentes: #045ba3;
	--azulBotonera:#045ba3;
	--azulOscuro: #003460;
}

*{
	/*Elimino caracteristicas que vienen por defecto*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Russo One', sans-serif;
	
}

h1{
	font-size: 48px;
	color: var(--azulFuentes);
}
h2{
	font-size: 44px;
}
h3{
	font-size: 30px;
}
h4{
	font-size:18px;
}
a{
	text-decoration: none;
}


/*----------------------------

SECCION CABECERA

------------------------------*/
.cabecera{
	/* background-color: red; */
	
	display:flex;
	
	max-width: 1122px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	
}

.cabecera-texto{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cabecera-texto h1{
	margin-left: 50px;
	
}
.cabecera-texto h2{
	margin-left: 25px;
	
}

.contenedor{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

/*----------------------------

SECCION BOTONERA

------------------------------*/

.botonera{
	
	max-width: 1366px;  /*DECLARO ESTE ANCHO MAXIMO AQUI PARA EL FONDO OCUPE TODO EL ANCHO*/
	background-color: var(--azulBotonera);
	
	padding: 10px 0;
	
	/* DOS LINEAS AGREGADAS PARA QUE LA BOTONERA BAJE CON EL SCROLL, ME SIGA */
	position: sticky;
	top:0;
	z-index:3;
	
}

.botonera-lista{
	
	/* COMO EL FONDO PUEDE MEDIR HASTA 1366PX DE ANCHO LIMITO EL ANCHO DE MI MENU 
		Y LO CENTRO, PERO NO ASI SU FONDO DECLARADO EN .BOTONERA */
	max-width: 1122px;  
	margin-left: auto;
	margin-right: auto;
	
	list-style: none;
	
	justify-content: space-around;
	display: flex;
}

.botonera-lista a{
	
	color: var(--blanco);
	font-size: 20px;
	padding: 10px 5px;
	
}

.botonera-lista a:hover{
	color: var(--negroVerdadero);
}

/*----------------------------

SECCION SLIDER

------------------------------*/

.slider{
	position: relative;
	margin-bottom: 50px;
	max-width:1122px;
	margin-left: auto;
	margin-right: auto;
}


.slider img{
	max-width:1122px;
	
}
.slider-texto{
	
	text-align: right;
	
	/* Ancho maximo del texto */
	max-width: 30%;
	
	/* posicion del texto dentro del contenedor */
	position: absolute;
	top: 50px;
	right:20px;
	
	color: var(--blanco);
	font-size: 22px;
}



/*----------------------------

SECCION CENTRO

------------------------------*/


.centro{
	max-width: 1122px;  
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 70px;
}

.centro h3{
	color: var(--azulFuentes);
	text-align:center;

}

.centro-botones{
	margin-top: 40px;
	display: flex;
	justify-content: space-around; 
	
}

.centro-botones-uno,.centro-botones-dos,.centro-botones-tres{
	text-align:center;
	/* border: 1px solid var(--azulBotonera); */
	box-shadow: 0 0 0 1px var(--azulOscuro);
	max-width: 240px;
	color: var(--azulFuentes);
}
.centro-botones-uno:hover,.centro-botones-dos:hover,.centro-botones-tres:hover{
	
	/* border: 4px solid var(--azulBotonera); */
	box-shadow: 0 0 0 5px var(--azulOscuro);
	
	color: var(--azulOscuro);
	
}


/*----------------------------

SECCION PIE

------------------------------*/

.piefondo{
	max-width:1366px;
	background-color: var(--azulBotonera);
}
.pie{
	
	max-width: 1122px;  
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
	
	padding: 20px 10px;
}

.pie-mapa{
	margin:0 0;
	max-width: 40%;
	border: 2px solid var(--blanco);
	
	
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--blanco);
}
.pie-mapa h4{
	padding-bottom: 10px;
	
}
.pie-mapa img{
	padding-bottom: 10px;	
}


.pie-derecha{
	
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	color: var(--blanco);
	font-size: 22px;
	text-align: right;
	max-width: 40%;
}

.pie-derecha-texto{
	padding-bottom: 25px;
	max-width:80%;
}

.pie-derecha-telefono{
	display:flex;
	justify-content: flex-end;
	align-items: center;
}
.pie-derecha-telefono img{
	height: 35px;
	width: 35px;
	margin-right: 10px;
}

.creditos{
	font-family: cursive;
	font-size: 24;
}
